@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

@import url("https://api.fontshare.com/v2/css?f[]=stardom@400&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=alpino@1&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@1&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #f25042 !important;
  --background: #f9f4ef;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: #020826;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@media only screen and (min-width: 1600px) {
  html {
    margin: auto;
  }
}

.rotate-grid {
  transform: rotate3d(0);
  transform: scale3d(0);
  transition: all 300ms ease-in-out;
}

.rotate-grid:hover {
  transform: scale3d(1.01, 1.01, 1.01);
  transform: rotate3d(-2.6, -3.6, 0, 15.1deg);
  transition: all 300ms ease-in-out;
  content: "";
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

h1,
h2,
h3,
h4 {
  font-family: "Clash Display", sans-serif;
}

.text-grid,
.text-grid:hover {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 40px;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.text-grid {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.text-grid:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
  transition: all 300ms ease-in-out;
  background-color: #ffffff52;
}
